.form_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.form_input {
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;

    font-family: Roboto, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    width: 100%;
}

.form_button {
    padding: 1rem;
    border: 1px solid white;
    background-color: var(--blue);
    border-radius: 0 2rem 2rem 0;
    color: var(--white);
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
}

@media (max-width: 376px) {
    .form_block {
        margin-bottom: 1rem;
    }

    .form_input {
        padding: 0.5rem 1rem;
    }

    .form_button {
        padding: 0.7rem;
        font-size: 1.3rem;
    }
}